main {
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    width: 650px;
    margin: 0 auto;
    padding-top: 100px;
}

.buttons {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    padding: 10px;

}
.calc {
    background-color: teal;
    width: 270px;
    margin: 0 auto;
    border-radius: 5px;
}
.btn {
    font-family: Arial, Helvetica, sans-serif;
    height: 40px;
    width: 100%;
    font-size: 20px;
    font-weight: 500;
}
.calc__display {
    padding-top: 10px;
    margin: 0px 10px;
}
.calc-display-input {
    width: 96.5%;
    height: 25px;
    background: white;
    text-align: end;
    font-size: 20px;
    border-radius: 5px;
}
#btn-long {

    grid-column-start: 1;
    grid-column-end: span 2;
}
#resultBtn {
    grid-column-start: 4;
    grid-row-start: 4;
    grid-row-end: 6;
}
#result {
    height: 100%;
}

.clear_btn:hover {
    background-color: red;
}
.operator:hover {
    background-color: blueviolet;
}
.number:hover {
    background-color: cyan;
}
.point:hover {
    background-color: rgb(126, 223, 126);
}
